@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: white;
  color: black;
}


@layer utilities{
  @keyframes loading {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(250%);
    }
  }
  .animate-loading-bar {
    animation: laoding o.8s ease infinite;
  }
}